<network>
  <name>ocp133</name>
  <forward mode='nat'/>
  <mac address='52:54:00:3b:6c:ac'/>
  <domain name='ocp133'/>
  <ip address='192.168.133.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.133.2' end='192.168.133.254'/>
    </dhcp>
  </ip>
</network>
