<network>
  <name>ocp80</name>
  <mac address='52:54:00:45:bd:93'/>
  <domain name='ocp80'/>
  <ip address='192.168.80.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.80.2' end='192.168.80.254'/>
    </dhcp>
  </ip>
</network>
