apiVersion: v1
baseDomain: {{ ocp_base_domain }}
compute:
- hyperthreading: Disabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Disabled
  name: master
  replicas: {{ ocp_master_node_set }}
metadata:
  name: {{ ocp_cluster_name }}
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
{% if image_pull_type == 'local' %}
pullSecret: '{{ local_pull_secret }}'
{% else %}
pullSecret: '{{ remote_pull_secret }}'
{% endif %}
{% if additional_tls == 'yes' %}
additionlaTrustBundle: |
{{ additional_trust_bundle_tls.stdout }}
{% endif %}
sshKey: '{{ ssh_public.content | b64decode }}'
imageContentSources:
- mirrors:
  - {{ registry_hostname }}.{{ ocp_cluster_name }}.{{ ocp_base_domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ registry_hostname }}.{{ ocp_cluster_name}}.{{ ocp_base_domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
