#!/bin/sh
podman run --name openshift-mirror-registry -p 5000:5000 \
-v /opt/registry/data:/var/lib/registry:z \
-v /opt/registry/certs:/certs:z \
-e REGISTRY_HTTP_TLS_CERTIFICATE=/certs/{{ ocp_cluster_name}}.{{ ocp_base_domain }}.crt \
-e REGISTRY_HTTP_TLS_KEY=/certs/{{ ocp_cluster_name}}.{{ ocp_base_domain }}.key \
-e REGISTRY_COMPATIBILITY_SCHEMA1_ENABLED=true \
-d docker.io/library/registry:2
